@use "variables" as var;

/* (Optional) Deactivate animations*/
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

/* Reset paddings & margins */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

*::before,
*::after {
    display: block;
}

/* Format images */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* (Opcional) */
    object-fit: cover;
    /* (Opcional) */
    object-position: center center;
}

/* Reset the links to work as boxes... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... except those found in paragraphs*/
p a {
    display: inline;
}

/* Format <li> */
li {
    list-style-type: none;
}

/* (Optional) smooth anchors*/
html {
    scroll-behavior: smooth;
}

/* Deactivate default styles of the main text labels*/
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Avoid problems with pseudo-elements in quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* (Optional) Configure the selected text */
::selection {
    background-color: map-get(var.$colors-map, "secondary");
    color: map-get(var.$colors-map, "primary");
}

/* We level typography and form placement problems. */
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* (Optional) */
    appearance: none;
    outline: none;
}

/* Reset tables */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Avoid SVG problems */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Configure all tipography */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: map-get(var.$fonts-map, "primary");
    /* (Optional) */
    hyphens: auto;
    /* (Optional) */
    font-smooth: always;
    /* (Optional) */
    -webkit-font-smoothing: antialiased;
    /* (Optional) */
    -moz-osx-font-smoothing: grayscale;
}

p,
h5 {
    font-family: map-get($map: var.$fonts-map, $key: "primary");
}

h1,
h2,
h3,
h4 {
    font-family: map-get($map: var.$fonts-map, $key: "secondary");
}

h1 {
    font-size: 9.375rem;
}

h2 {
    font-size: 6.25rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
    letter-spacing: 4.75;
}