@use "mixins" as mix;

.selected-destination {
    @include mix.flex-box(column, nowrap, center, center);
    gap: 2rem;
    min-height: 448px;

    @media (min-width:1440px) {
        justify-content: normal;
        align-items: flex-start;
        min-height: auto;
    }
}

.heading-2 {
    @media (min-width:1440px) {
        text-align: left;
    }
}

.selected-destination__p {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #383B4B;

    @media (min-width: 768px) {
        padding: 0 2rem 2rem 2rem;
    }

    @media (min-width:1440px) {
        text-align: left;
        padding: 0 0 54px 0;
    }
}

.selected-destination__info {
    @include mix.flex-box(column, wrap, center, center);
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 0;
    }
}

.selected-destination__distance,
.selected-destination__travel {
    @include mix.flex-box(column, nowrap, center, center);
    gap: 1rem;

    @media (min-width:1440px) {
        width: 40%;
        align-items: flex-start;
    }
}