<div class="container">

    <div class="container__content">

        <!--* Title -->
        <div class="container__title">
            <h2 class="heading-5"><span class="container__span">01 </span>Pick your destination</h2>
        </div>

        <!--* Image -->
        <div class="image carousel__fade" *ngFor="let destination of destinations; let i = index"
            [ngClass]="{'image--active': selectedIndex === i}">
            <picture>
                <source class="image__img" [src]="destination.image.webp" type="image/webp" accept="image/webp">
                <img class="image__img" [ngSrc]="destination.image.png" fill alt="Destination image">
            </picture>
        </div>

        <!--* Navigation -->
        <div class="destination__navigation">
            <app-destinations-menu [destinations]="destinations"
                (updatedIndex)="changeIndex($event)"></app-destinations-menu>
        </div>

        <!--* Destination -->
        <div class="destination__selected carousel__fade" *ngFor="let destination of destinations; let i = index"
            [ngClass]="{'destination__selected--active': selectedIndex === i}">
            <app-selected-destination [destination]="destination"></app-selected-destination>
        </div>

    </div>
</div>