@use 'mixins' as mix;
@use 'variables' as var;

.crew-members__member {
    display: none;
}

.crew-members__member--active {
    @include mix.flex-box(column, nowrap, center, center);
    gap: .5rem;
    text-align: center;

    @media (min-width: 768px) {
        width: 70%;
        margin: 0 auto;
    }

    @media (min-width:1440px){
        width: 100%;
        align-items: flex-start;
        text-align: left;
        gap: 1rem;
    }
}

.heading-4 {
    opacity: .5;
}

.crew-members__p {
    min-height: 100px;

    @media (min-width: 768px) {
        min-height: auto;
    }

    @media (min-width: 1440px) {
        width: 60%;
        min-height: 150px;
    }
}