@use 'mixins' as mix;
@use 'variables' as var;

.destination {
    @include mix.flex-box(column, nowrap, flex-end, center);
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/img/destination/background-destination-mobile.jpg');
    background-size: cover;
    background-position: center;

    @media (min-width: 48rem) {
        background-image: url('/assets/img/destination/background-destination-tablet.jpg');
    }

    @media (min-width: 90rem) {
        background-image: url('/assets/img/destination/background-destination-desktop.jpg');
        justify-content: center;
    }
}

.destination__container {
    width: 90%;
    max-width: 1900px;
    margin-top: 5rem;
    min-height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 10.625rem auto auto;
    grid-template-areas:
        'title'
        'img'
        'nav'
        'destination';
    gap: 1rem;
    color: map-get($map: var.$colors-map, $key: "primary");

    @media (min-width:768px) {
        margin-top: 8.625rem;
        min-height: calc(100vh - 8.625rem);
        grid-template-rows: auto 300px auto auto;
    }

    @media (min-width:1440px) {
        width: 80%;
        min-height: 31.25rem;
        height: calc(100vh - 16.3125rem);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'title title'
            'img nav'
            'img destination';
        gap: 0;
        column-gap: 6rem;
    }
}


.destination__title {
    grid-area: title;
}

.heading-5 {

    @media (min-width: 768px) {
        text-align: left;
    }
}

.destination__span {
    color: map-get($map: var.$colors-map, $key: "primary");
    opacity: .25;
    margin-right: 1rem;
}

.image {
    position: relative;
    grid-area: img;
}

.image__img {
    object-fit: contain;
}

.destination__navigation {
    grid-area: nav;
    align-self: center;

    @media (min-width:1440px) {
        justify-self: start;
    }
}

.destination__selected {
    grid-area: destination;
}