@use 'mixins' as mix;

.container {
    background-image: url('/assets/img/home/background-home-mobile.jpg');

    @media (min-width: 768px) {
        background-image: url('/assets/img/home/background-home-tablet.jpg');
    }

    @media (min-width: 1440px) {
        background-image: url('/assets/img/home/background-home-desktop.jpg');
    }
}

.container__content {
    width: 90%;
    grid-template-areas:
        'title'
        'h1'
        'text'
        'btn';
    align-items: end;
    gap: 0;

    @media (min-width: 768px) {
        align-items: center;
    }

    @media (min-width:1440px) {
        width: 80%;
        grid-template-areas:
            'title btn'
            'h1 btn'
            'text btn';
    }
}

.heading-5 {
    grid-area: title;

    @media (min-width: 768px) {
        text-align: center;
        align-self: end;
    }

    @media (min-width:1440px) {
        text-align: left;
    }
}

.heading-1 {
    grid-area: h1;

    @media (min-width:1440px) {
        text-align: left;
    }
}

.body-text {
    grid-area: text;

    @media (min-width:768px) {
        width: 450px;
        justify-self: center;
        align-self: start;
    }

    @media (min-width:1440px) {
        justify-self: start;
    }
}

.circles {
    grid-area: btn;
    justify-self: center;

    @media (min-width:1440px){
        align-self: end;
        margin-bottom: 5rem;
        justify-self: end;
    }
}
